@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@layer base {
  h2 {
    @apply lg:text-[60px] lg:leading-[80px] sm:text-[36px] text-[22px] md:leading-[50px] sm:leading-[50px] leading-[35px] text-secondary capitalize font-bold;
  }
  h4 {
    @apply lg:text-2xl sm:text-xl text-lg  leading-[30px] font-bold;
  }
  p {
    @apply text-base leading-[26px] font-normal;
  }
}

.container {
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.is_sticky {
  animation: 0.95s ease-in-out 0s normal none 1 running fadeInDown;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
li .sub_menu {
  transform: rotateX(-90deg);
}

li:hover .sub_menu {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg);
}

.corbe_counter {
  animation: moveUpDown 10s infinite linear;
}

.corbe_talk {
  animation: moveLeftRight 10s infinite linear;
}

.swiper-pagination {
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  align-items: center;
  position: relative !important;
  bottom: 120px !important;
  left: 0 !important;
  z-index: 99 !important;
}

.circle {
  animation: rotate 14s infinite linear;
}

.swiper-pagination-bullet {
  background: transparent !important;
  color: white !important;
  font-size: 16px;
  font-weight: 400;
  padding-left: 40px;
  position: relative !important;
  z-index: 99 !important;
}

.swiper-pagination-bullet-active {
  color: white !important;
  font-size: 28px;
  line-height: 30px;
  font-weight: bold;
  position: relative;
  z-index: 99;
}

.slider_title {
  animation: 0.7s ease-in-out 0.4s normal none 1 running fadeInLeft;
  animation-fill-mode: both;
}
.slider_parag {
  animation: 0.7s ease-in-out 0.6s normal none 1 running fadeInLeft;
  animation-fill-mode: both;
}

.corbe_review {
  animation: wave linear 1000ms infinite;
}
.corbe_play {
  animation: wave2 linear 1000ms infinite;
}

.corbe_marque {
  animation: Scroll 40s linear infinite;
}
.corbe_marque_right {
  animation: rightToLeft 40s linear infinite;
}

.corbe_service:hover .icon {
  animation: effect 0.5s forwards ease-in-out 0s;
}

.line::after {
  animation: line 5s ease infinite alternate;
}

@keyframes line {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(400px);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-15%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0 0 #d7ff52;
  }
  70% {
    box-shadow: 0 0 0 20px rgba(181, 196, 199, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(226, 231, 232, 0);
  }
}
@keyframes wave2 {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
  70% {
    box-shadow: 0 0 0 20px rgba(155, 158, 158, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(226, 231, 232, 0);
  }
}
@keyframes Scroll {
  0% {
    transform: translateX(-50vw);
  }

  100% {
    transform: translateX(50vw);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(50vw);
  }

  100% {
    transform: translateX(-50vw);
  }
}

@keyframes effect {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(-1);
  }

  to {
    transform: scaleX(1);
  }
}

.slide_up {
  transform: translateY(100%);
  opacity: 0;
  animation: slideUp 0.8s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* breakpoints={{
  620: {
    slidesPerView: 1,
    spaceBetween: 20,
  },
  768: {
    slidesPerView: 2,
    spaceBetween: 30,
  },
  1024: {
    slidesPerView: 3,
    spaceBetween: 30,
  },
  1200: {
    slidesPerView: 3,
    spaceBetween: 30,
  },
  1536: {
    slidesPerView: 3,
    spaceBetween: 30,
  },
}} */
